@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
}

body {
    box-sizing: border-box;
    font-family: "IM_Hyemin-Bold";
    background-color: rgba(255, 228, 196, 0.562);
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: coral;
}

li {
    list-style: none;
}

.slide_wrap {
    position: relative;
    width: 450px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.slide_list {
    position: absolute;
    left: 0;
    top: 0;
}

.slide_list.animated {
    transition: 0.5s ease-in-out;
}

.slide_list li {
    width: 450px;
    height: 400px;
    float: left;
    text-align: center;
}

.slide_list li:not(:last-child) {
    margin-right: 50px;
}

.slide_btn .btn_prev, .btn_next {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 35%;
    border: none;
    cursor: pointer;
}

.btn_prev {
    left: 25%;
}

.btn_next {
    left: 70%;
}